html{
    font-size: 16px;
    font-family: sans-serif;
}
.flexible{
    display: flex;
    flex-direction: column;
    width: 1440px;
}

body{
    padding: 1.25rem;
    background-color: #E8F9FF;
}
#header, #main, #footer{
    flex-basis: 1366px;
    padding: 1rem;
}

header, main, footer{
    display: flex;
    justify-content: center;
}
.menu{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
nav{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo{
    height: 50px;
}
a{
    color: black;
}

#main{
    display: flex;
    flex-direction: column;
}
.banner{
    justify-self: center;
}
.zig-zag{
    display: flex;
    align-items: center;
}
.dos{
    flex-direction: row-reverse;
}

footer{
    background-color:#647378;
}
#footer{
    
    color: white;
    padding: 1.125px;
    display: flex;
}
.izq{
    display: flex;
    flex-grow: 0.5;
}
.der{
    display: flex;
    flex-basis:100% ;
    justify-content: flex-end;


}
ul{
    list-style-type: none;
    flex-basis: 50%;
}
li{
    margin-bottom: 1rem;
}
h6{
    flex-grow: 2;
    justify-items: flex-end;
}


.titulo{
    font-size: 1.125rem;
    font-weight: bolder;

}
.redes_sociales{
    padding: 0;
}

.zig-zag img{
    border-radius: 0 10% 0 0;
    border: white solid 5px;
}